[submodule "themes/minimal-bootstrap-hugo-theme"]
	path = themes/minimal-bootstrap-hugo-theme
	url = https://github.com/zwbetz-gh/minimal-bootstrap-hugo-theme.git
[submodule "asachdeva.github.io"]
	path = asachdeva.github.io
	url = git@github.com:asachdeva/asachdeva.github.io.git
[submodule "public"]
	path = public
	url = https://github.com/asachdeva/asachdeva.github.io.git
	branch = master
